/*Css cho khung ảnh*/
.khungAnh {position:relative; z-index:1;}
.khungAnh:before {content:""; display:block; padding-bottom: calc(9/16*100%);}
.khungAnhCrop, .khungAnhCrop0 {display:inline-block; height:100%; left:0; overflow:hidden; position:absolute; text-align:center; top:0; width:100%; z-index:1;}
.khungAnhCrop0 img {left:50%; max-height:100%; max-width:100%; position:absolute; top:50%; transform:translate(-50%,-50%); z-index:1;}
.khungAnh .khungAnhCrop0 img {-moz-transform:translate(-50%,-50%); -o-transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%);}
.khungAnhCrop img {left:50%; max-height:150%; max-width:150%; position:absolute; top:50%; transform:translate(-50%,-50%); z-index:1;}
.khungAnh .khungAnhCrop img {-moz-transform:translate(-50%,-50%); -o-transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%);}
.khungAnhCrop img.wide {height:101%; max-width:none;}
.khungAnhCrop img.tall {max-height:none; width:101%;}

.qcRight {position: fixed; right: -100%; bottom: 0; z-index: 99999999; width: 320px; transition: 1.5s ease-in-out; -webkit-transition: 1.5s ease-in-out;}
.qcRight.active {right: 0;}
.qcRight .khungAnh:before {padding-bottom: 100%;}
.qcRight .content {position: relative;}
.qcRight .btnClose {background: url(close.png) no-repeat scroll right 0 transparent; position: absolute; right: 0; top: -12px; z-index: 100; width: 26px; height: 12px;}

.qcLeft {position: fixed; left: -100%; bottom: 0; z-index: 99999999; width: 320px; transition: 1.5s ease-in-out; -webkit-transition: 1.5s ease-in-out;}
.qcLeft.active {left: 0;}
.qcLeft .khungAnh:before {padding-bottom: 100%;}
.qcLeft .content {position: relative;}
.qcLeft .btnClose {background: url(close.png) no-repeat scroll right 0 transparent; position: absolute; right: 0; top: -12px; z-index: 100; width: 26px; height: 12px;}

.qcCenter {position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); z-index: 999999999; width: 640px; transition: 1.5s ease-in-out; -webkit-transition: 1.5s ease-in-out; opacity: 0; pointer-events: none;}
.qcCenter.active {opacity: 1; pointer-events: auto;}
/*.qcCenter .khungAnh:before {padding-bottom: 100%;}*/
.qcCenter .content {position: relative;}
.qcCenter .content img {width: 100%;}
.qcCenter .btnClose {background: url(close.png) no-repeat scroll right 0 transparent; position: absolute; right: 0; top: -12px; z-index: 100; width: 26px; height: 12px;}
 
