#ci{ width: 713px;margin: 10px auto}
#ci .title{ height: 30px;width: 100%;}
#ci .nameTitle{ height: 24px;font:bold 12px/24px 'arial';color: #8a0401;display: inline-block;float: left;text-transform: uppercase}



#ci .cnt {padding:0px 0px;display:block;border-top: none;font: 12px Arial;}

#ci .carttable{ border-collapse: collapse}
#ci .image{width:112px}
#ci .name{width:264px;text-align:left;padding-left: 10px;font-weight: bold}
#ci .num{width:113px}
#ci .count{ width: 121px;font-weight: bold}
#ci .del{width:86px}
#ci th{text-align:center;color:#333;line-height:33px;height:32px;border: none;font-weight: normal;}
#ci td{text-align:center;height:88px;border-bottom:solid thin #e6e6e6}
#ci tr.head{border:none;background: url(tbbg.png);}
#ci tr{color:#333}
#ci .bg {background:#fff}
#ci .paycount {font:bold 16px/48px Arial;color:#775d42;background:url(sumbg.png) repeat-x;text-align: right;width: 706px}
#ci .paycount span {margin-left:7px;color:#fe0000}
#ci .img {width:87px;height:65px;border:solid thin #ececec;display:inline-block}
#ci a.del{width:18px;height:18px;display:inline-block;background:url(btdel.png) no-repeat bottom}
#ci a.del:hover{background-position:top}
#ci #tbSoLuong {width:50px}
#ci .text{line-height:40px;color: #ff9900;font: bold 14px Arial;}
#ci .botinfo {line-height:20px;color:#775d42;}
#ci .text2{color: #333;font: normal 12px/18px Arial;display: block;text-align: left;padding-left: 16px;float: left;width: 290px;}


#ci .row {float:left;width:506px;margin:4px 0px;line-height:24px}
#ci .row span {float:left;width:84px;margin-left:0px;color:#535353;font-weight:bold}
#ci .ctrltxt {float:left;width:290px;padding-left:5px;background:#fff;border:solid thin #d6d6d6;line-height:24px;height:22px;color:#535353}
#ci .ctrltxt:focus {background:#ffe47f}
#ci .btn {margin-right:10px;background:url(btn.png) repeat-x;padding:0px 17px;color:#fff;height:29px;line-height:29px;font-weight:bold;cursor:pointer;display: inline-block;text-transform: uppercase}
#ci .btn:hover {background:url(btn-hv.png) repeat-x}

#ci .txt1{ font: 12px/20px arial;color: #333}

#ci  .pttt{margin: 0px 10px}

#ci  .rbt{ font: bold 12px arial;}
#ci  .pttt .content{ border: 1px solid #cccccc;background: #faf9f9;padding: 10px;font: 12px/20px arial}
#ci .pttt .content td{ border: 0;text-align: inherit}
#ci  .tac{text-align: center}

#ci  .oldPrice{ font-size: 11px;color: #cccccc}
