#ProD{ font: normal 12px Tahoma;padding-bottom: 20px}
#ProD .i1Tab{ background: url(i1.jpg) no-repeat;width: 37px;height: 37px;float: left}
#ProD .i2Tab{ background: url(i2.jpg) repeat-x;width: 685px;height:37px;float: left}
#ProD .i2Tab a.LinkRoad{ font: bold 12px Tahoma;color: #fff;display: block;float: left;text-decoration: none;text-transform: uppercase;line-height: 37px}
#ProD .i2Tab .SpaceRoad{ font: normal 11px Tahoma;color: #fff;float: left;padding: 0 10px;line-height: 37px}
#ProD .pdGroup{margin-bottom: 15px}
#ProD .TtlGroup{ font: bold 11px Tahoma;color: #fff;text-decoration: none;display: block;line-height: 37px;padding-left: 5px}

#ProD .ColImg{ float: left;width: 351px}
#ProD .ColInfo{float: right;width: 358px}
#ProD .SImgProD{ width: 261px;border: 0}
#ProD .TtlItem{ font: bold 14px Tahoma;color: #760301}
#ProD .TtlItem h1{ font: bold 16px Tahoma;color: #760301;margin: 0;padding:0}
#ProD .PrcItem{ font: normal 12px Tahoma;color: #868686;padding-bottom: 8px}
#ProD .PrcItem span{ font-weight: bold;color: #ff9c00}
#ProD .TxtItem{ font: normal 12px Tahoma;color: #444;padding-bottom: 8px;margin-right: 5px}
#ProD .ContentItem{ text-align: justify;padding: 0 10px}
#ProD .ContentItem a{ font: normal 9pt Verdana;color: #444;text-decoration: none}

#ProD .InfoAddress{font:bold 14px Tahoma;color: Red;padding-left: 15px}
#ProD .InfoAddress1{font: normal 13px Tahoma;padding:15px 0 8px 15px}
#ProD .InfoAddress2{font: normal 13px Tahoma;padding:8px 0 8px 15px}
#ProD a.LinkMap{font:bold 13px Tahoma;color:Red;text-decoration:none}
#ProD a.LinkMap:hover{}

#ProD .oProD .SImg{ width: 130px;height: 123px;border: 0}
#ProD .oProD .ColItem{ float: left;width: 180px;margin-top: 15px}
#ProD .oProD .ColItem h2{padding: 0;margin: 0;font-size: 12px}
#ProD .oProD a.TtlItem{ font: bold 12px Tahoma;color: #484848;display: block;padding: 5px 5px 8px 5px;height: 40px;overflow: hidden}
#ProD .oProD a.TtlItem:hover{color: #444}
#ProD .oProD .PriceItem{ font: normal 11px Tahoma;color: #484848;padding-bottom: 3px}
#ProD .oProD .PriceItem span{ color: #ff0000;font-weight: bold}
#ProD .oProD a.bct{ background: url(bct.png) repeat-x;width: 66px;height: 18px;text-decoration: none;display: block;margin-top: 8px}


#ProD .TagProduct{display: block;text-align: left;margin: 0;padding: 0}
#ProD .TagProduct li{display: inline}
#ProD .TagProduct a.linkTags{text-decoration:none; color:#484848;}
#ProD .TagProduct a.linkTags:hover{text-decoration:underline;}

#ProD ul{ padding: 0;margin: 0;list-style: none}
#ProD .TxtItemOther{ font: bold 12px Tahoma;color: #000;padding-bottom: 10px;padding-left: 15px}
#ProD .BgListItem{ background: url(listItem.jpg) 15px 6px no-repeat;margin-bottom: 8px}
#ProD a.TtlItemOther{ font: normal 12px Tahoma;color: #000000;display: block;text-align: justify;padding-left: 30px}
#ProD a.TtlItemOther:hover{color: #d0d0d0}

#ProD #ProHot .TxtGroup{ font: bold 12px Tahoma;color: #570200;padding: 10px 0 10px 15px}
#ProD #ProHot .SImg{ width: 130px;height: 123px;border: 0}
#ProD #ProHot .ColItem{ float: left;width: 180px;margin-top: 15px}
#ProD #ProHot .ColItem h2{padding: 0;margin: 0;font-size: 12px}
#ProD #ProHot a.TtlItem{ font: bold 12px Tahoma;color: #484848;display: block;padding: 5px 5px 8px 5px;height: 40px;overflow: hidden;text-align: center}
#ProD #ProHot a.TtlItem:hover{color: #444}
#ProD #ProHot .PriceItem{ font: normal 11px Tahoma;color: #484848;padding-bottom: 3px}
#ProD #ProHot .PriceItem span{ color: #ff0000;font-weight: bold}
#ProD #ProHot a.bct{ background: url(bct.png) repeat-x;width: 66px;height: 18px;text-decoration: none;display: block;margin-top: 8px}

#ProD a.btnSupportOrder{background:url(btnSupportOrder.png) no-repeat; height:32px;width: 261px;display: block;margin-top: 5px}
#ProD a.btnSupportOrder:hover{background:url(btnSupportOrderHover.png) no-repeat; height:32px;width:261px;display: block;margin-top: 5px}

#ProD .contentKm{ position: relative;padding: 11px;width: 327px;height: 83px;border: 1px solid #cccccc;}
#ProD .contentKm .mt{ position: absolute;background: url(mt.jpg) no-repeat center;width: 20px;height: 16px;position: absolute;top: -16px;left: 54px}
#ProD .box{ width: 348px;min-height: 121px;border: 1px solid #cccccc;float: left;}
#ProD .title{ padding-left: 35px;color: #8a0401;font: bold 12px/32px arial ;border-bottom:  1px dashed #cccccc}
#ProD .adr{ background: url(adr.png) no-repeat left 16px center;}
#ProD .sp{ background: url(sp.png) no-repeat left 16px center;}
#ProD .cntBox{ margin: 10px 15px;font-size: 12px;line-height: 18px}
.mr20{margin-right: 20px}

#ProD .subcate{ margin-bottom: 23px;border-bottom: 1px dashed #cccccc;padding-bottom: 10px;overflow: hidden}
#ProD .subcate .item { width: 218px;padding-left: 12px;background: url(hoa.png) no-repeat left top 7px;font: 12px/24px arial;display: block;float: left;color: #333333;margin-right: 10px}
#ProD .subcate .item:hover{ color: #8a0401;font-weight: bold}

/*#thums{ margin: 0;padding: 0;list-style-type: none;border-top: 1px solid #fff;width: 261px}
#thums li{ width: 64px;height: 47px;border-right: 1px solid #fff;float: left}
#thums li img{ width: 64px;height: 47px;cursor: pointer}*/
.khungAnhCrop1{position:relative; z-index:1;overflow:hidden;display:inline-block}
.khungAnhCrop1{ width: 261px;height: 195px;display: block}
.imgtemp{display: none}

#ProD .ortherCate{ color: #8a0401;font: bold 12px arial }
#shareFB{ display: block;width: 57px;height: 20px;background: url(fs.jpg) no-repeat}

.zoomContainer{z-index: 999999999}

 .iconDown{ background: url(IconDown.png) no-repeat left center;display: inline-block;padding-left: 20px;height: 16px}
 .con{display: inline-block}
 #btnBuy {margin-top: 10px}
 #btnBuy .btn{ background: url(btn.png) repeat-x;height: 32px;padding: 0px 10px;font: bold 12px/30px arial;color: #fff;border-radius: 3px;;float: left;margin-right: 10px}
 #btnBuy .btn:hover{background: url(btn-hv.png) repeat-x}

 #ProD .boxInfo{ border: 1px solid #ccc;padding: 15px;display: block;margin-right: 5px}

 #btnFixed{ position: fixed;bottom: 0;right: 203px;display: none}

 
ul#slider img{ height: 100%;max-width: 100%}
ul#slider { position: relative;height: 474px;overflow: hidden;text-align: center}
ul#slider li{height: 474px}
ul#slider .owl-item{height: 474px}
ul#slider .owl-buttons{ position: absolute;top: 193px;width: 100%}
ul#slider .owl-buttons div{ position: absolute;color: transparent}
ul#slider .owl-buttons .owl-prev{ left: 0;width: 57px;height: 86px;background: url(bnPrev.png) no-repeat;}
ul#slider .owl-buttons .owl-next{ right: 0;width: 57px;height: 86px;background: url(bnNext.png) no-repeat;}

.khungThongtin{ min-height: 185px;font-weight: bold;font-size: 12px;line-height: 20px;text-align: left}
.khungThongtin .spct{color: #b20e0c}
.khungThongtin .address{ border-bottom: 1px dashed #999999;margin-bottom: 5px;padding-bottom: 5px}
.khungThongtin .diaChi span{color: #3e3f99}
.khungThongtin .dienThoai span{color: #dc352c}

#backLink{background: url(btn.png) repeat-x;height: 32px;padding: 0px 10px;font: bold 12px/30px arial;color: #fff;border-radius: 3px;display: inline-block;margin-right: 10px;}
#backLink:hover{background: url(btn-hv.png) repeat-x}
