#subProductCate{ background: url(bgGroup.png.ashx) repeat-x top center #fff;padding-top: 30px}
#subProductCate .item{ color: #8a0401;font: bold 12px/24px arial;width: 220px;float: left;margin-left: 20px}
#subProductCate .catelv1 { color: #8a0401;font: bold 12px/24px arial}
#subProductCate .itemSub{ background: url(dot.png.ashx) no-repeat left top 5px;font: 12px/20px arial;padding-left: 15px;color: #333333}

#subProductCate .viewMore{font: 11px/20px arial;color: #333333}
#subProductCate .viewMore:hover, #subProductCate .itemSub:hover{color: #8a0401}